@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;800&family=Poppins:wght@800&family=Raleway:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap");

:root {
  --maxwidth: 960px;
  --weight-regular: 400;
  --weight-bold: 600;
  --weight-extra-bold: 800;

  --color-main-background-color: rgb(244, 244, 244);
  --color-nav-background: white;
  --color-footer-background: #273746;
  --color-contrast: #3498db;
  --color-contrast-2: #ec7063;
  --color-header-background: #273746;
  --color-box-link: #273746;
  --color-disabled: #abb2b9;
  --color-light: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

body > header {
  margin: 0;
  padding: 0;
  background-color: var(--color-header-background);
}

main {
  background-color: var(--color-main-background-color);
}

.logo img {
  width: 4.1rem;
}

.highlighted-link {
  color: var(--color-contrast-2);
  cursor: default;
}

.title-main-header {
  text-align: center;
}

.box-level-1 {
  max-width: var(--maxwidth);
  margin: 0 auto;
  padding: 0.6rem 2rem;
}

.title-background {
  display: relative;
  width: 100%;
  height: 25rem;
  background-image: url("../img/bg-home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 40%;

}

.title-text {
  font-size: 3.20rem;
  text-decoration-color: white;
  color: white;
  -webkit-text-stroke: 1px #273746;;
  max-width: 40rem;
}

nav {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 2rem;
  justify-content: flex-start;
  align-items: center;
}

nav ul {
  display: grid;
  grid-gap: 1rem;
  /* grid-template-columns: repeat(4, auto); */
  grid-template-columns: repeat(5, auto);
  justify-content: start;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  font-weight: var(--weight-extra-bold);
}

nav ul li a {
  text-decoration: none;
  /* color: black; */
  color: white;
}

nav ul li a:hover {
  cursor: pointer;
  color: var(--color-contrast);
}

.img-circle {
  width: 10rem;
  clip-path: circle(3.5rem);
}

.title-section {
  text-align: center;
}

.title-section > h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.box-links {
  display: grid;
  grid-gap: 2rem;
  justify-content: space-between;
  grid-template-columns: repeat(3, 16rem);
}

.box-links a {
  text-decoration: none;
}

.box-link {
  width: 16rem; /* */
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.box-link:hover {
  transform: translateY(-0.6rem);
}

.box-link-img {
  width: 16rem;
  height: 16rem;
}

.box-link-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-link-text {
  background-color: var(--color-box-link);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 8rem;
}
.box-link-text h3 {
  text-align: center;
  padding: 1rem;
}

footer {
  background-color: var(--color-footer-background);
}

.footer-nav ul {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, auto);
  justify-content: start;
  padding: 0;
}

.footer-nav ul li {
  list-style-type: none;
}

.footer-nav ul li a {
  font-size: 0.85rem;
  text-decoration: none;
  color: white;
}

.footer-nav ul li a:hover {
  text-decoration: underline;
  color: var(--color-contrast);
}

/* biographies */

.bio-photo {
  grid-area: bio-photo;
}

.bio-text {
  grid-area: bio-text;
  line-height: 1.5rem;
}

.box-summary-biographies {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.box-summary-biography {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  /* line-height: 1.5rem; */
  grid-template-areas: "bio-photo bio-text";
  align-items: center;
}

.box-summary-biography:nth-child(even) {
  grid-template-areas: "bio-text bio-photo";
}

.box-summary-biography > img {
  /* width: 100%; */
  width: 100%;
  height: 20rem;
  object-fit: cover;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border: 1px solid black;
}

.box-summary-biography > img:hover {
  border: 1px solid var(--color-contrast);
}

.p-bio-summary {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
}

.box-summary-biographies header {
  font-weight: var(--weight-extra-bold);
}

.box-summary-biographies header a {
  text-decoration: none;
  color: black;
}

.box-summary-biography a:hover {
  color: var(--color-contrast);
}

.continue-reading-link {
  color: var(--color-contrast-2);
  font-weight: var(--weight-extra-bold);
  text-decoration-style: dotted;
  text-underline-offset: 0.5rem;
}

.box-presentation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  line-height: 1.5rem;
}

.img-adjust {
  width: 75%;
  align-content: center;
}

.img-adjust-2 {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border: 1px solid black;
}

/* presentation */

blockquote {
  background-color: var(--color-light);
  padding: 1rem;
  margin: 2rem 0;
  border-left: 5px solid var(--color-contrast);
  font-style: italic;
}

blockquote cite {
  display: block;
  font-weight: var(--weight-bold);
  margin-top: 0.6rem;
}

.box-presentation h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.box-presentation article {
  margin-bottom: 3rem;
}

/* Enlaces */

.box-external-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.box-external-link {
    
}



.box-external-link figure {
  margin: 0;
}

.box-external-link iframe,
.box-external-link img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border: 1px solid black;
}



iframe,
.box-external-link img  {
  border: none;
  cursor: pointer;
}



.question {
  margin-bottom: 2rem;
}

button#quiz-submit {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 2rem;
}

.section-quiz {
  padding-top: 0;
  padding-bottom: 0;
}

.header-quiz {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  
}

.quiz-answers input {
  margin-right: .6rem;
}

label.quiz-option {
  margin-right: 5rem;
}

.detail-bio-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 0;
  padding-top: 0;
}

.detail-bio-photo {
  width: 60%;
  height: 26rem;
  object-fit: cover;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border: 1px solid black;
}

.center {
  text-align: center;
}


/* Animaciones */

/* fuente: https://stackoverflow.com/questions/7318462/changing-background-image-with-css3-animations */


.summary-photos, .detail-bio-photo {
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

.summary-photos {
  animation-duration: 10s;
}

.detail-bio-photo {
  animation-duration: 60s;
}

.neil-armstrong, .neil-armstrong-detail {
  content: url('../img/neil-armstrong-01.jpg');
}

.neil-armstrong:hover, .neil-armstrong-detail {
  animation-name: animation-neil-armstrong;
}

.buzz-aldrin, .buzz-aldrin-detail {
  content: url('../img/buzz-aldrin-01.jpg');
}

.buzz-aldrin:hover, .buzz-aldrin-detail {
  animation-name: animation-buzz-aldrin;
}

.pete-conrad, .pete-conrad-detail {
  content: url('../img/pete-conrad-01.jpg');
}

.pete-conrad:hover, .pete-conrad-detail {
  animation-name: animation-pete-conrad;
}

.alan-l-bean, .alan-l-bean-detail {
  content: url('../img/alan-l-bean-01.jpg');
}

.alan-l-bean:hover, .alan-l-bean-detail {
  animation-name: animation-alan-l-bean;
}

.alan-shepard, .alan-shepard-detail  {
  content: url('../img/alan-shepard-01.jpg');
}

.alan-shepard:hover, .alan-shepard-detail {
  animation-name: animation-alan-shepard ;
}

@keyframes animation-neil-armstrong {
  0% {
    content: url('../img/neil-armstrong-01.jpg');
  }
  20% {
    content: url('../img/neil-armstrong-02.jpg');
  }
  40% {
    content: url('../img/neil-armstrong-03.jpg');
  }
  60% {
    content: url('../img/neil-armstrong-04.jpg');
  }
  80% {
    content: url('../img/neil-armstrong-05.jpg');
  }
  100% {
    content: url('../img/neil-armstrong-06.jpg');
  }
}

@keyframes animation-buzz-aldrin {
  0% {
    content: url('../img/buzz-aldrin-01.jpg');
  }
  20% {
    content: url('../img/buzz-aldrin-02.jpg');
  }
  40% {
    content: url('../img/buzz-aldrin-03.jpg');
  }
  60% {
    content: url('../img/buzz-aldrin-04.jpg');
  }
  80% {
    content: url('../img/buzz-aldrin-05.jpg');
  }
  100% {
    content: url('../img/buzz-aldrin-06.jpg');
  }
}

@keyframes animation-pete-conrad {
  0% {
    content: url('../img/pete-conrad-01.jpg');
  }
  20% {
    content: url('../img/pete-conrad-02.jpg');
  }
  40% {
    content: url('../img/pete-conrad-03.jpg');
  }
  60% {
    content: url('../img/pete-conrad-04.jpg');
  }
  80% {
    content: url('../img/pete-conrad-05.jpg');
  }
  100% {
    content: url('../img/pete-conrad-06.jpg');
  }
}

@keyframes animation-alan-l-bean {
  0% {
    content: url('../img/alan-l-bean-01.jpg');
  }
  20% {
    content: url('../img/alan-l-bean-02.jpg');
  }
  40% {
    content: url('../img/alan-l-bean-03.jpg');
  }
  60% {
    content: url('../img/alan-l-bean-04.jpg');
  }
  80% {
    content: url('../img/alan-l-bean-05.jpg');
  }
  100% {
    content: url('../img/alan-l-bean-06.jpg');
  }
}

@keyframes animation-alan-shepard {
  0% {
    content: url('../img/alan-shepard-01.jpg');
  }
  20% {
    content: url('../img/alan-shepard-02.jpg');
  }
  40% {
    content: url('../img/alan-shepard-03.jpg');
  }
  60% {
    content: url('../img/alan-shepard-04.jpg');
  }
  80% {
    content: url('../img/alan-shepard-05.jpg');
  }
  100% {
    content: url('../img/alan-shepard-06.jpg');
  }
}


.title-background {
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-name: animation-title-background;
  animation-direction: normal;
}

@keyframes animation-title-background {
  to { background-position-y: 0 }
  from { background-position-y: 100% }
}

.box-nasa-logo {
  display: flex;
  justify-content: flex-start;
}

.nasa-logo {
  width: 16rem;
  padding: 1rem;
}

@media screen and (max-width: 750px) {
  nav {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .logo {
    text-align: center;
  }

  nav ul {
    grid-template-columns: 1fr;
    grid-gap: 0.6rem;
  }

  nav li {
    text-align: center;
  }

  .box-links {  
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .footer-nav ul {
    grid-template-columns: 1fr;
  }

  .footer-nav li {

    text-align: center;
  }

  .box-icons {
   
    text-align: center;
  }

  .box-summary-biographies {
    grid-gap: 8rem;
    
  }

  .box-summary-biography, .box-summary-biography:nth-child(even) {
    grid-template-columns: 1fr;
    grid-template-areas: "bio-photo" 
                          "bio-text";
  }

  .box-presentation, .box-external-links {
    grid-template-columns: 1fr;
    grid-gap: 8rem;
  }

  .box-nasa-logo {
    justify-content: center;
  }

  .img-circle {
    display: none;
  }
}





